.attractions .attraction {
	width: calc(100% / 3 - 30px - 30px / 3);
	height: 280px;
}

@media screen and (width <=1000px) {
	.attractions .attraction {
		width: calc(100% / 2 - 30px - 30px / 2);
	}
}